! Credits and inspirations:
!  - general - SmartTech101 (https://smarttech101.com/urxvt-installation-color-scheme-fonts-resize-etc)
!  - keybindings - Addy (https://addy-dclxvi.github.io/post/configuring-urxvt/)
!  - moonlight color scheme (for kitty) - Ramon Saraiva (https://github.com/ramonsaraiva/kitty-moonlight/blob/main/moonlight.conf)


!! COLOR SETUP

URxvt.foreground:          #e4f3fa
URxvt.background:          #212337
URxvt.cursorColor:         #5cb4fc
URxvt.cursorColor2:        #212337
URxvt.underlineColor:      #e4f3fa
URxvt.highlightColor:      #e4f3fa
URxvt.highlightTextColor:  #403c64

URxvt.color0:              #000000
URxvt.color8:              #767676
URxvt.color1:              #ff757f
URxvt.color9:              #f78b92
URxvt.color2:              #2df4c0
URxvt.color10:             #4ff0c6
URxvt.color3:              #ffc777
URxvt.color11:             #fcce8b
URxvt.color4:              #04d1f9
URxvt.color12:             #2ddbfc
URxvt.color5:              #ecb2f0
URxvt.color13:             #ebc5ed
URxvt.color6:              #b994f1
URxvt.color14:             #bf9ef0
URxvt.color7:              #eeffff
URxvt.color15:             #edf7f7


!! FONT SETUP

URxvt.font:           xft:MesloLGS NF:style=Regular:antialias=true:size=11:minspace=False
URxvt.boldFont:       xft:MesloLGS NF:style=Bold:antialias=true:size=11:minspace=False
URxvt.italicFont:     xft:MesloLGS NF:style=Italic:antialias=true:size=11:minspace=False
URxvt.boldItalicFont: xft:MesloLGS NF:style=Bold Italic:antialias=true:size=11:minspace=False


!! OTHER OPTIONS

URxvt.saveLines:       20000
URxvt.intensityStyles: false
URxvt.scrollstyle:     plain
URxvt.scrollBar_right: true
URxvt.urgentOnBell:    true


!! EXTENSIONS AND CONFIG

URxvt.perl-lib: /home/user/.scripts/urxvt/perl
URxvt.perl-ext-common: default,selection,font-size,clipboard,url-select,keyboard-select,close-gracefully
!URxvt.perl-ext: clipboard,url-select,keyboard-select,close-gracefully

URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

URxvt.url-select.launcher:   google-chrome
URxvt.underlineURLs:  true
URxvt.matcher.button: 1

URxvt.keysym.M-c:      perl:clipboard:copy
URxvt.keysym.M-v:      perl:clipboard:paste
URxvt.keysym.M-C-v:    perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s:      perl:keyboard-select:search
URxvt.keysym.M-u:      perl:url-select:select_next


!! KEYBINDINGS - COMMON NAVIGATION

URxvt.keysym.Shift-Up:      command:\033]720;1\007
URxvt.keysym.Shift-Down:    command:\033]721;1\007
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left:  \033[1;5D
